{% extends 'base.html.twig' %}

{% block menu_links %}
    {% include "quick_cfg/_menu.html.twig" %}
{% endblock %}

{% block title %}DailyWorkDuration{% endblock %}

{% block body %}
    <h1>DailyWorkDuration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ daily_work_duration.id }}</td>
            </tr>
            <tr>
                <th>DayLong</th>
                <td>{{ daily_work_duration.dayLong }}</td>
            </tr>
            <tr>
                <th>DayShort</th>
                <td>{{ daily_work_duration.dayShort }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('daily_work_duration_index') }}">back to list</a>

    <a href="{{ path('daily_work_duration_edit', {'id': daily_work_duration.id}) }}">edit</a>

    {{ include('daily_work_duration/_delete_form.html.twig') }}
{% endblock %}
